workspaces-streamlit-template
build
myenv
build.log
run_app.spec
clean-up-workspaces.log
*-embed-amd64
get-pip.py
run_app.bat
python*
**/__pycache__/
gdpr_consent/node_modules/
ms2query-models/
example-data/ms2-libraries/GNPS-LIBRARY.mgf