# the requirements.txt file is intended for deployment on streamlit cloud and if the simple container is built
# note that it is much more restricted in terms of installing third-parties / etc.
# preferably use the batteries included or simple docker file for local hosting
streamlit
streamlit-plotly-events
streamlit-aggrid
pandas
numpy
plotly
pyopenms
captcha